<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit Task</title>
</head>
<body>
<h1>Edit task</h1>
<form action="/worker/createReport" method="post">
  <div>
    <label for="employee">Employee:</label>
    <select name="employee" id="employee" th:field="${report.pk.employee}">
      <option th:each="employee : ${employees}"
              required th:value="${employee.id}" th:text="${employee.fullName}"></option>
    </select>
  </div>
  <div>
    <label for="product">Product:</label>
    <select name="product" id="product" th:field="${report.pk.product}">
      <option th:each="product : ${products}"
              required th:value="${product.id}" th:text="${product.name}"></option>
    </select>
  </div>
  <div>
    <label for="count">Count:</label>
    <input type="number" id="count" name="count" required th:value="${report.count}">
  </div>
  <div>
    <label for="weightOfParticles">Weight Of Particles:</label>
    <input type="number" id="weightOfParticles" name="weightOfParticles" required th:value="${report.weightOfParticles}">
  </div>
  <div>
    <label for="date">DATE:</label>
    <input type="date" id="date" name="date" required th:value="${report.pk.date}" th:field="${report.pk.date}">
  </div>

  <!--    <div>-->
  <!--        <label for="count">Priority:</label>-->
  <!--        <input type="number" id="count" name="count" required th:value="${material.count}">-->
  <!--    </div>-->
  <button type="submit">Save</button>
</form>
</body>
</html>