<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Task Manager</title>
</head>
<body>
<h1>Task Manager</h1>
<table>
  <thead>
  <tr>
    <th>Id</th>
    <th>FullName</th>
    <th>Rank</th>
    <th>Salary</th>
    <th>Benefits</th>
    <th>Job Title</th>
    <th>Start Work</th>
    <th>End Work</th>
    <th>Login</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="empl : ${employees}">
    <td th:text="${empl.id}"></td>
    <td th:text="${empl.fullName}"></td>
    <td th:text="${empl.rank.id}"></td>
    <td th:text="${empl.salary}"></td>
    <td th:text="${empl.benefits}"></td>
    <td th:text="${empl.jobTitle}"></td>
    <td th:text="${empl.startWork}"></td>
    <td th:text="${empl.endWork}"></td>
    <td th:text="${empl.emplLogin}"></td>
  </tr>
  </tbody>
</table>

<h1>ORDERS</h1>
<table>
  <thead>
  <tr>
    <th>Id</th>
    <th>Customer</th>
    <th>State</th>
    <th>Date</th>
    <th>Product</th>
    <th>Count</th>
    <th>Count Left</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="order : ${order}">
    <td th:text="${order.id}"></td>
    <td th:text="${order.customer.id}"></td>
    <td th:text="${order.stateOfOrder}"></td>
    <td th:text="${order.dateOfOrder}"></td>
    <td th:text="${order.product.id}"></td>
    <td th:text="${order.count}"></td>
    <td th:text="${order.countLeft}"></td>
  </tr>
  </tbody>
</table>
<!--<a href="/task/create">Create task</a>-->
</body>
</html>